# COMBINING & EXPORTING DATA, PART 2

# 1. Importing libraries

# 2. Importing 'orders_products_combined' and 'products_checked'

# 3. Merging 'df_orders_products_combined' and 'df_products' on 'product_id'

# 4. Exporting 'df_orders_products_merged'

In [ ]:
# ---------------------------------------------------------

# 1. Importing libraries

In [1]:
# Import libraries:

import pandas as pd
import numpy as np
import os

# 2. Importing 'orders_products_combined' and 'products_checked'

In [2]:
#Define the path:

path = r'/Users/elena/Documents/Data Analytics Course/4. Python fundamentals for Data Analysts/Instacart Basket Analysis'

In [25]:
# Import orders_products_combined:

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_combined.pkl'))

In [26]:
# Check the shape of orders_product_combined:

df_orders_products_combined.shape

(32434489, 12)

In [27]:
    ## Check the columns of df_orders_products_combined:
    
    df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,"time_of_order, hour",days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [32]:
# Item 3. Import products_checked:

df_products = pd.read_csv(os.path.join(path, '02 Data','Prepared Data','products_checked.csv'))

In [46]:
# Item 4. Check the shape of df_products:
    
df_products.shape

(49672, 6)

In [47]:
    ## Check the columns of df_products:
    
    df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# 3. Merging 'df_orders_products_combined' and 'df_products' on 'product_id'

In [54]:
# Item 5. Merge df_orders_products_combined and df_products on 'product_id':

df_orders_products_merged = df_orders_products_combined.merge(df_products, on = 'product_id')

In [55]:
# Item 6. Confirm the results of the merge using merge flag:
    
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [56]:
    ## Check the shape of df_orders_products_merged:
    
    df_orders_products_merged.shape

(32404859, 17)

# 4. Exporting 'df_orders_products_merged'

In [58]:
# Item 7. Export df_orders_products_merged:

df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_merged.pkl'))